.button{
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    background: var(--Reverse);
    color: var(--Background);
    font-weight: 700;
    font-family: 'Sora';
    font-size: 1rem;
    transition: filter .3s ease;
    cursor: pointer;
}

 .button:hover{
    filter:invert(.2);

}